<div>
    <app-titulo></app-titulo>
  </div>

<div>
  <app-navbar></app-navbar>
</div>

<router-outlet></router-outlet>

<!--<div>-->
<!--  <app-index></app-index>-->
<!--</div>-->

<!--<div>-->
<!--  <app-servicios></app-servicios>-->
<!--</div>-->

<!--<div>-->
<!--  <app-actividades></app-actividades>-->
<!--</div>-->

<!--<div>-->
<!--  <app-fotos></app-fotos>-->
<!--</div>-->

<!--<div>-->
<!--    <app-formulario></app-formulario>-->
<!--</div>-->

<!--<div>-->
<!--  <app-video></app-video>-->
<!--</div>-->


<div>
    <app-footer></app-footer>
</div>

