.formulario{
  padding: 2% 20% 2% 20%;
  border-radius: 50px 0 50px 0 / 100px 0 100px 0;
  border-color: #ed5537;
}
form{
  color: white;
}
label{
  font-size: 20px;
}
.form-check-label{
  font-size: 15px;
}
button{
  margin-bottom: 10%;
}
input, textarea{
  background-color: darkgrey;
}
